<p-sidebar [visible]="display" [(position)]="position" [style]="{width:'80%'}" styleClass="p-sidebar-lg"
    dismissible="true" [baseZIndex]="10000" (onHide)="disposeAll()" (onShow)="setTableData()">
    <br>
    <p-table #dt1 styleClass="p-datatable-sm" selectionMode="single" [(selection)]="episodeInPlay" dataKey="episodeID"
        styleClass="p-datatable-striped" [globalFilterFields]="['title']" [scrollable]="true"
        [scrollHeight]="scrollHeight" *ngIf="episodes" [value]="episodes">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class='p-grid'>
                <th class="p-col-2">pub date</th>
                <th class="p-col-8">title</th>
                <th class="p-col-2">duration</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-episode>
            <tr class="p-col-2" (click)="playEpisode(episode)" [pSelectableRow]="episode">
                <td>
                    {{episode['pubDate'] | date:'yy/MM/dd HH:mm'}}
                </td>
                <td class="p-col-8">
                    <span title="{{episode.summary}}">{{episode['title']}}</span>
                </td>
                <td class="p-col-2">
                    {{episode['duration']}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-sidebar>