<p-table #tabBookmark styleClass="p-datatable-sm" styleClass="p-datatable-striped" [value]="bookmarks">
    <ng-template pTemplate="header">
        <tr>
            <th>Cast</th>
            <th>Title</th>
            <th>Frame</th>
            <th>Stopped At</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bm>
        <tr (click)="playBookmark(bm)" style="vertical-align: top;">
            <td>
                <img src="{{bm.cast.imageURL}}" height="100px" style="margin-right: 10px;" alt="{{bm.cast.name}}">
                <h4>{{bm.cast.name}}</h4>
            </td>
            <td>{{bm.episode.title}}</td>
            <td>{{bm.episode.frame | duration}}</td>
            <td>{{bm.episode.stoppedAt | date: 'yy-MM-dd HH:mm'}}</td>
        </tr>
    </ng-template>
</p-table>